$white: #FFFFFF;
$blue: #2F4C97;
$gray: #ABABAC;

@mixin flex-center {
    display: flex;
    align-items: center;
}

.table {
    &__wrapper {
        background-color: $white;
        border-radius: 20px;
        width: 98%;

        margin: 16px auto;
        font-family: "Roboto", sans-serif;

        &-client {
            color: $blue;
            font-size: 14px;
            height: 47px;
            padding: 0px 20px;
            border-bottom: 1px solid $gray;
            cursor: pointer;
            @include flex-center;

            &:hover {
                background-color: #f6f9ff;
            }
        }
    }

    &-header {
        &__control-block {
            padding: 0px 22px;
            display: flex;
            align-items: center;
            height: 80px;


        }

        &__headers {
            display: flex;
            align-items: center;
            padding: 0px 20px;
            height: 47px;
            border-bottom: 1px solid $gray;
        }
    }


    &__column {
        width: 280px;
        display: flex;
        color: black;

        & .header {
            color: $blue;
            font-size: 12px;
            font-weight: 600;
        }

        &.fullanme-info {
            justify-content: flex-start;
        }

        &.additional-info {
            justify-content: flex-end;
        }

        & span {
            &:hover {
                text-decoration: underline;
                color: #3164cb;
            }
        }
    }

    &-info {
        &__wrapper {
            max-height: 861px;
            overflow-y: auto;
        }
    }
}

::ng-deep.mdc-checkbox__checkmark {
    color: white !important;
}


::ng-deep.mat-mdc-checkbox.mat-primary {

    --mdc-checkbox-selected-checkmark-color: white !important;
}

::ng-deep.search .mat-mdc-form-field-subscript-wrapper {
    display: none;
}